.Movies {
  margin: 0 auto;
  padding: 0 70px 10px;
  max-width: 1280px;
  box-sizing: border-box;
}

@media screen and (max-width: 1023px) {
  .Movies {
    padding: 0 30px 30px;
  }
}

@media screen and (max-width: 767px) {
  .Movies {
    padding: 0 10px 26px;
  }
}

.Movies__line {
  width: 100%;
  height: 1px;
  background-color: #e8e8e8;
  margin-bottom: 80px;
}

@media screen and (max-width: 767px) {
  .Movies__line {
    margin-bottom: 50px;
  }
}

.Movies__notice {
  margin: 0 0 70px 0;
  padding: 0;
  font-weight: 500;
  text-align: center;
  font-size: 24px;
  line-height: 28px;
}

@media screen and (max-width: 767px) {
  .Movies__notice {
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 24px;
  }
}

.Movies__more {
  box-sizing: border-box;
  margin: 50px auto 80px;
  width: 320px;
  padding: 10px 60px;
  background: #F9F9F9;
  border-radius: 6px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .Movies__more {
    width: 240px;
  }
}