.Button {
  margin: 0 30px 0 0;
  padding: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  background-color: transparent;
  color: #FFFFFF;
  cursor: pointer;
  border: none;
}

.Button:last-child {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .Button {
    font-size: 10px;
    margin-right: 14px;
  }
}

.Button_type_landing {
  color: #000;
  padding: 8px 20px;
  border-radius: 3px;
  background-color: #2BE080;
}