.CloseButton {
  position: absolute;
  top: 30px;
  right: 30px;
  background: transparent url(../../images/close-icon.svg);
  background-size: contain;
  border: none;
  width: 22px;
  height: 22px;
  padding: 0;
  cursor: pointer;
}
