.Sidebar {
  visibility: hidden;
  position: fixed;
  opacity: 0;
  transition: visibility .5s linear, opacity .3s linear;
  top: 0;
  right: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .3);
}

.Sidebar_visible {
  visibility: visible;
  opacity: 1;
}

.Sidebar__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 159px 70px 90px;
  position: absolute;
  top: 0;
  right: 0;
  width: 520px;
  height: 100%;
  background-color: #fff;
}

@media screen and (max-width: 600px) {
  .Sidebar__container {
    padding: 144px 10px 46px;
    width: 100%;
  }
}

.Sidebar__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Sidebar__link {
  display: block;
  padding-bottom: 4px;
  margin-bottom: 24px;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000;
}

.Sidebar__link_opened {
  border-bottom: 2px solid #000;
}


