.RequestError {
  display: block;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  left: 0;
  position: absolute;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  color: #FF004C;
}

.RequestError_type_edit {
  bottom: 175px;
}

@media screen and (max-width: 1023px) {
  .RequestError_type_edit {
    bottom: 375px;
  }
}

@media screen and (max-width: 767px) {
  .RequestError_type_edit {
    bottom: 145px;
  }
}

.RequestError_type_entry {
  bottom: 380px;
}

@media screen and (max-width: 767px) {
  .RequestError_type_entry {
    bottom: 275px;
  }
}