.Footer {
  background-color: #fafafa;
}

.Footer__container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 79px 70px 20px;
}

@media screen and (max-width: 1023px) {
  .Footer__container {
    padding: 79px 30px 20px;
  }
}

@media screen and (max-width: 767px) {
  .Footer__container {
    padding: 79px 10px 10px;
  }
}

.Footer__sign {
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #A0A0A0;
  border-bottom: 1px solid #e8e8e8;
}

@media screen and (max-width: 767px) {
  .Footer__sign {
    margin-bottom: 30px;
    padding-bottom: 21px;
    font-size: 12px;
    line-height: 15px;
  }
}

.Footer__box {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .Footer__box {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.Footer__copyright {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

@media screen and (max-width: 767px) {
  .Footer__copyright {
    font-size: 12px;
    line-height: 15px;
    color: #A0A0A0;
  }
}

.Footer_link {
  display: block;
  margin: 0 20px 0 0;
  padding: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  cursor: pointer;
  text-decoration: none;
  color: #000;
  transition: opacity .3s ease-in-out;
}

.Footer_link:last-child {
  margin-right: 0;
}

.Footer_link:hover {
  opacity: .7;
}

@media screen and (max-width: 767px) {
  .Footer_link {
    margin-right: 0;
    margin-bottom: 12px;
    font-size: 12px;
    line-height: 15px;
  }

  .Footer_link:last-child {
    margin-bottom: 0;
  }
}